{% extends "base.html" %}
{% block prenavbar %}
{% endblock%}
{% block navbar %}
<div class="home">
<div class="container">


    <h1 align="center">Contact</h1>
    <div class="formstyle">

      <!-- <form action="{url 'blog:thanks'}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Your Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <textarea rows="6" class="form-control" type="text" name="message" placeholder="Your Message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->

      <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>      
    </div>

</div>
</div>
{% endblock%}
{% block postnavbar %}
{% endblock%}
